/* Add this to your App.css */
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }
  
  button:hover {
    background-color: #45a049;
  }
  